<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Contact Us</h1>
      <form action="/visit" method="post" role="form">
        <div class="form-group">
          <input name="cf_name"  type="text" class="form-control" placeholder="Your Name" value="<%=@name%>">
        </div>
      </form>
    </div>
  </div>
</div>